.card {
    border-radius: 0;
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card-header {
    border-radius: 0;
}

.form-control:focus {
    border-color: #007bff;
    box-shadow: none;
}

.btn-primary {
    border-radius: 0;
    width: 100%;
}

.btn-primary:hover {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:focus {
    background-color: #007bff;
    border-color: #007bff;
}
