<!DOCTYPE html>
<html>
  <head>
    <!-- Add the following link to the head section of your HTML file -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" integrity="sha384-FIbOwZC+4wmF4cPEzqqytqy4b4n+rM35HDTB1JBjBdZSgS2/k/vQeTnYLtT9Tjy" crossorigin="anonymous">


    <title>BABADU - &lt;KODE KELOMPOK&gt;</title>
  </head>
  <body>
    <h1>BABADU - &lt;C1&gt;</h1>
    <nav>
      <a href="login/">LOGIN</a>
      <a href="register/">REGISTER</a>
    </nav>
    <!-- Add the following script tag before the closing body tag of your HTML file -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-kVWN1ufH6QlX6Rc8zD5KjN5L5v5NqUIM8rKUHk/RU6ilg2M/fURWx8oH68K5f5jh" crossorigin="anonymous"></script>
  </body>
</html>